 <mat-card>
    <form (submit)="onAddPost(postForm)" #postForm="ngForm">
        <mat-form-field class="example-full-width">
            <mat-label>Post Title</mat-label>
            <input matInput
             name="title"
             ngModel
             required
             #title = ngModel>
            <mat-error *ngIf="title.invalid">Please enter a title</mat-error>    
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Post Content</mat-label>
            <textarea matInput
             rows="4"
             name="content"
             ngModel
             required
             #content = ngModel> </textarea>
             <mat-error *ngIf="content.invalid">please enter a content</mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" [disabled]="postForm.invalid">Save Post</button> 
    </form>
 </mat-card>
   